* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-brown: #260101;
    --burnt-sienna: #8C391B;
    --light-coffee: #BF814B;
    --sandstone: #F2CA7E;
    --teal: #1BCBF2;
    --powderblue: #A3C3DC;
}

html {
	scroll-behavior: smooth;
}

body {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}


/* Header Styles */


header {
    width: 100%;
    background-color: var(--dark-brown);
    color: var(--sandstone);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 15px;
    flex-wrap: wrap
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 46px;
    width: 50%;
}

header nav {
    width: 50%;
    margin: auto 0px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px
}

header nav ul li a{
    text-decoration: none;
    color: var(--sandstone);
}

header nav ul li a:hover {
    color: var(--burnt-sienna);
}

/* Footer Styles */


/* Hero Section */
#hero {
    background-image: url(../images/hero-bg.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 50px;
}

#hero img {
    width: 300px;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: -3px 3px 5px 0 #ccc;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 50px;
    bottom: 0;
    z-index: 
}


.subtitle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    background-color: var(--sandstone);
    width: 30%;
    height: 80px;
    padding: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.subtitle h2 {
    color: var(--burnt-sienna);
    font-family: 'Josefin Sans', sans-serif;
}



/* Main Content Area Styles */

.main-content {
    margin: 0 30px
}

.main-content p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-brown);
    margin-bottom: 10px;
}

.about-me, .projects, .contact-info{
    display:flex;
    margin-bottom: 50px
}

.content-heading {
    flex: 1 30%;
    text-align: right;
    padding-right: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--burnt-sienna);
    border-right: 3px solid var(--teal);
}

.content-heading h2 {
    text-align: end;
    font-size: 32px;
}

.about-text, .grid-container, .contact-text {
    flex: 2 70%;
    margin-left: 20px;
}




/* My Projects Styles */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 20px;
}

.grid-card {
    background-color: var(--powderblue);
    grid-column: span 2;
    box-shadow: -3px 3px 5px 0 #ccc;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    position: relative;  
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--teal);
}

.grid-card h3 {
    z-index: 2;
    background-color: var(--dark-brown);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}

.grid-card h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--sandstone);
    transition: .5s ease;
}

.grid-card:hover h3 {
    color: var(--light-coffee);
}

.grid-card:hover .overlay{
    opacity: 0.4;
}

.card1 {
    grid-column: span 4;
    grid-row: span 2;
    background-image: url(../images/card1.png);
}

.card2 {
    background-image: url(../images/card2.jpg);
}
.card3 {
    background-image: url(../images/card3.jpg);
}

.card4 {
    background-image: url(../images/card4.png);
}

.card5 {
    background-image: url(https://bluesatyr.github.io/okamisca/images/murder_procession.jpg)
}



/* Contact Info Styles */

.contact-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-text p {
    font-weight: 700;
    margin-right: 10px;
}

.contact-text a {
    color: var(--dark-brown);
    border-bottom: 3px solid var(--teal);
}

.contact-text a:hover {
    color: var(--burnt-sienna);
    border-bottom: 3px solid var(--burnt-sienna);
    font-weight: bold;
}


/* Media Query Styles */


/* Desktop Styles */
@media screen and (max-width: 980px) {
	
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
	.grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 120px);
        grid-gap: 20px;
    }
    
    header h1 {
        font-size: 46px;
        width: 55%;
    }

    header nav {
        width: 45%;
        margin: auto 0px;
    }
    
    
    header nav ul li{
        font-size: 16px;
    }
}

/* Mobile Styles */
@media screen and (max-width: 585px) {
	
    header {
        flex-direction: column;
    }
    
    header h1 {
    text-align: left;
    width: 100%
    }
    
    header nav {
        width: 100%;
        margin: auto 0px;
        justify-content: space-around;
    }
    
    .subtitle {
        height: 70px;
        margin-bottom: 0;
        z-index: 1
    }
    .subtitle h2 {
        font-size: 20px;
        margin: clear;
    }
    
    .about-me, .projects, .contact-info{
        flex-direction: column;
    }
    
    .content-heading {
        flex: 0 100%;
        text-align: center;;
        border-right: none;
        border-bottom: 3px solid var(--teal);
    }
    
    .content-heading h2 {
        text-align: center;
    }
    
    .about-text, .grid-container, .contact-text {
        flex: 0 100%;
        margin-left: 0;
        margin-top: 15px;
    }
        
    #hero img {
        bottom: none;
        position: absolute;
        margin-left: 0;
        margin-bottom: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:2;
    }
}
