* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-brown: #260101;
    --burnt-sienna: #8C391B;
    --light-coffee: #BF814B;
    --sandstone: #F2CA7E;
    --teal: #1BCBF2;
    --powderblue: #A3C3DC;
}

body {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* Header Styles */
header {
    width: 100%;
    background-color: var(--dark-brown);
    color: var(--sandstone);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 15px
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

header nav ul li a{
    text-decoration: none;
    color: var(--sandstone);
}

/* Footer Styles */


/* Hero Section */
#hero {
    background-image: url(../images/hero-bg.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 50px;
}




#hero h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    margin-right: 10%;
    background-color: var(--sandstone);
    width: 400px;
    padding: 10px auto;
    text-align: center;
    color: var(--burnt-sienna);
    font-family: 'Josefin Sans', sans-serif;
    
}

/* Main Content Area Styling */

.main-content {
    margin: 0 30px
}

.main-content p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-brown);
}

.about-me, .projects, .contact-info{
    display:flex;
    margin-bottom: 50px
}

.content-heading {
    flex: 1 30%;
    text-align: right;
    padding-right: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--burnt-sienna);
}

.about-text, .grid-container, .contact-text {
    flex: 2 70%
}

/* About Me Styles */

/* My Projects Styles */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
}

.grid-card {
    background-color: var(--powderblue);
    
}




/* Contact Info Styles */

/* Media Query Styles */
 